.third {
    display: flex;
    flex-direction: column;
    background-color: #1E1D2B;
    height: 40vw;
    justify-content: center;
    align-items: center;
    padding-top: 1vw;
    padding-bottom: 10vh;
    border: solid 1px #FF702A;
    border-top: none;
}

.mainbox {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 80vw;
    background-color: #1E1D2B;
    padding-top: 3vw;
    box-sizing: border-box;
    line-height: 1.1rem;
    justify-content: flex-start;
    align-items: center;
}

.mtitle-3 {
    color: #FF702A;
    font-size: small;
}

.title-3 {
    color: #fcfcfc;
    padding-top: 2.5vh;
    padding-bottom: 2vh;
    font-size: 3vw;
}

.sub-boxes {
    display: flex;
    /* flex-direction: row; */
    padding-top: 5vw;
    justify-content: space-around;
}

.sub-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background-color: white;
    padding: 2vw;
    /* border: solid 1px black; */
    box-sizing: border-box;
    line-height: 1.1rem;
    margin-right: 2vw;
}

.sub-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background-color: white;
    padding: 2vw;
    /* border: solid 1px black; */
    box-sizing: border-box;
    /* line-height: 1.1rem; */
    margin-right: 2vw;
}

.sub-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 20vw;
    background-color: white;
    padding: 2vw;
    /* border: solid 1px black; */
    box-sizing: border-box;
    /* line-height: 1.1rem; */
    margin-right: 2vw;
}
.food-name{
    padding-top: 2vw;
    font-size: 2.5vh;
}
.tasty{
    font-size: 2.1vh;
}
.price{
    font-size: 1.9vh;
    color: #FF702A;
}

@media (max-width: 780px) {
    .third {
        display: flex;
        flex-direction: column;
        background-color: #1E1D2B;
        height: 235vw;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10vw;
        padding-bottom: 10vh;
        border: solid 1px #FF702A;
        border-top: none;
    }
    .mtitle-3 {
        color: #FF702A;
        font-size: medium;
    }
    
    .title-3 {
        color: #fcfcfc;
        padding-top: 2.5vh;
        padding-bottom: 2vh;
        font-size: 5vw;
    }
    .sub-boxes {
        display: flex;
        flex-direction: column;
        padding-top: 5vw;
    }
    .sub-box1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 60vw;
        background-color: white;
        padding: 2vw;
        margin-bottom: 3vw;
        /* border: solid 2px #FF702A; */
        box-sizing: border-box;
        line-height: 1.1rem;
        margin-right: 2vw;
    }
    
    .sub-box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 60vw;
        background-color: white;
        padding: 2vw;
        margin-bottom: 3vw;
        /* border: solid 1px black; */
        box-sizing: border-box;
        /* line-height: 1.1rem; */
        margin-right: 2vw;
    }
    
    .sub-box3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 60vw;
        background-color: white;
        padding: 2vw;
        margin-bottom: 3vw;
        /* border: solid 1px black; */
        box-sizing: border-box;
        /* line-height: 1.1rem; */
        margin-right: 2vw;
    }
    
}